<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
    <div class="pagetitle">
        <section class="section profile">
            <div class="row">

                <div class="col-xl-12">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">
                                        Профиль
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password">
                                        Сменить пароль
                                    </button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    <div class="col-xl-12">

                                        <div class="">
                                            <div class="card-title">
                                                Профиль
                                            </div>
                                            <form method="post" action="{{ url_for('main.edit_profile', id=user.id) }}">
                                                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                    <div class="col-xl-3" style="padding: 0;">
                                                        {% if user.photo %}
                                                            <img src="{{ url_for('static', filename='profile_photos/'+user.photo) }}"
                                                                 alt="Profile"
                                                                 class="rounded-circle" style="height: 120px;"/>
                                                        {% else %}
                                                            <h6 class="rounded-circle" style="height: 60px;max-width: 70px;">Нет фото</h6>
                                                        {% endif %}
                                                    </div>
                                                    <div class="row" style="min-width: 100%">

                                                        <div class="col-xl-12">
                                                            <p style="color:green; font-size: 14px">{{ user.points }} баллов</p>
                                                            <div class="row">
                                                                <div class="col-xl-6">
                                                                    <b>DeviceID</b>
                                                                    <p>{{ user.deviceId }}</p>
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <b>OS</b>
                                                                    <p>{{ user.os }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" value="{{ user.phone }}" placeholder="Телефон"
                                                               aria-describedby="button-addon5" id="addon5" name="phone" data-phone-pattern>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon5">X
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" value="{{ user.name }}" placeholder="Имя"
                                                               aria-describedby="button-addon3" id="addon3" name="name">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon3">X
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" value="{{ user.surname }}" placeholder="Фамилия"
                                                               aria-describedby="button-addon4" id="addon4" name="surname">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon4">X
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {% if user.org == 1 %}
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" name="second_name" id="addon0" placeholder="Отчество"
                                                                   value="{{ user.second_name }}" aria-describedby="button-addon0">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="button" id="button-addon0">X
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" name="org_name" id="addon1" placeholder="Название организации"
                                                                   value="{{ user.org_name }}" aria-describedby="button-addon1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="button" id="button-addon1">X
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" value="{{ user.inn }}"  placeholder="ИНН"
                                                                   aria-describedby="button-addon2" name="inn" id="addon2">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">X
                                                                </button>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="input-group mb-3">
                                                        <select class="form-select" name="jk">
                                                            {% for i in jks %}
                                                                <option value="{{ i.id }}"
                                                                        {% if i.id==user.jk %}selected{% endif %}>{{ i.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="addon6" placeholder="Адрес"
                                                               value="{{ user.address }}" name="address"
                                                               aria-describedby="button-addon6">

                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon6">X
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div style="padding:5px" class="col-xl-6">
                                                            <button type="submit"
                                                                    class="btn btn-primary">Сохранить
                                                            </button>
                                                        </div>
                                                        <div style="padding:5px" class="col-xl-6">
                                                            <a href="/profile"
                                                               class="btn btn-danger">Отменить</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-settings">

                                    <!-- Settings Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="fullName"
                                                   class="col-md-4 col-lg-3 col-form-label">Уведомления</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="changesMade"
                                                           checked>
                                                    <label class="form-check-label" for="changesMade">
                                                        Регистрация пользователей
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="newProducts"
                                                           checked>
                                                    <label class="form-check-label" for="newProducts">
                                                        Запросы на привязку домов к ЖК
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="proOffers"
                                                           checked>
                                                    <label class="form-check-label" for="proOffers">
                                                        Уведомления о запросах в поддержку
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="securityNotify">
                                                    <label class="form-check-label" for="securityNotify">
                                                        Уведомления о жалобах
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                        </div>
                                    </form><!-- End settings Form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">
                                                Ваш пароль
                                            </label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="password" type="password" class="form-control"
                                                       id="currentPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">
                                                Новый пароль
                                            </label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="newpassword" type="password" class="form-control"
                                                       id="newPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">
                                                Подтвердите пароль
                                            </label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="renewpassword" type="password" class="form-control"
                                                       id="renewPassword">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                        </div>
                                    </form><!-- End Change Password Form -->

                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var eventCalllback = function (e) {
                var el = e.target,
                    clearVal = el.dataset.phoneClear,
                    pattern = el.dataset.phonePattern,
                    matrix_def = "+7(___) ___-__-__",
                    matrix = pattern ? pattern : matrix_def,
                    i = 0,
                    def = matrix.replace(/\D/g, ""),
                    val = e.target.value.replace(/\D/g, "");
                if (clearVal !== 'false' && e.type === 'blur') {
                    if (val.length < matrix.match(/([\_\d])/g).length) {
                        e.target.value = '';
                        return;
                    }
                }
                if (def.length >= val.length) val = def;
                e.target.value = matrix.replace(/./g, function (a) {
                    return /[_\d]/.test(a) && i < val.length ? val.charAt(i++) : i >= val.length ? "" : a
                });
            }
            var phone_inputs = document.querySelectorAll('[data-phone-pattern]');
            for (let elem of phone_inputs) {
                for (let ev of ['input', 'blur', 'focus', 'load']) {
                    elem.addEventListener(ev, eventCalllback);
                }
            }
        });
        {% for i in [0, 1, 2, 3, 4, 5, 6, 7] %}
            document.getElementById("button-addon{{ i }}").onclick = function (e) {
                document.getElementById("addon{{ i }}").value = "";
            };
        {% endfor %}
    </script>
{% endblock %}