<!-- templates/stats.html -->

{% extends "base.html" %}

{% block content %}
    <style>

        .card-title {
            font-size: 16px;
        }

        .form-control {
            font-size: 12px;
        }

        .btn {
            font-size: 12px;
        }

        .tab.active {
            background-color: #5071BF4D !important;
        }


        .tab:hover {
            background-color: #5071BF4D !important;
        }

        tr.active {
            background-color: #5071BF4D !important;
        }

        p {
            font-size: 12px;
        }


        tr:hover {
            background-color: #5071BF4D !important;
        }

        table {
            margin-top: 40px;
        }

        th div {
            margin-top: -40px;
            position: absolute;
        }

        /* design */
        table {
            border-collapse: collapse;
        }

        tr:nth-child(even) {
            background: #EEE;
        }

        .tab.active {
            background-color: #5071BF4D !important;
        }


        .tab:hover {
            background-color: #5071BF4D !important;
        }

        p.mytabs {
            font-size: 16px;
            margin: 1;
        }

    </style>
    <h1 class="title">Управляющие компании</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="card tab active"
                 onclick="window.location.href='/uk/all'; return false">
                <div class="">
                    <p class="mytabs"></p>
                    <p class="mytabs">Главная</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card tab"
                 onclick="window.location.href='/uk/moderate'; return false">
                <div class="">
                    <p class="mytabs"></p>
                    <p class="mytabs">Модерация УК</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-12">
            <form method="POST" action="{{ url_for('main.all_uk') }}" class="row">
                <div class="col-lg-4">
                    <input class="form-control col" type="date" name="start" format="dd/mm/yyyy" value="{{ start }}">
                </div>
                <div class="col-lg-4">
                    <input class="form-control col" type="date" name="finish" format="dd/mm/yyyy" value="{{ finish }}">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-light">
                        Фильтр
                    </button>
                </div>
                <div class="col-lg-2">
                    <a href="{{ url_for('main.all_uk', active=active, org=org) }}" class="btn btn-light">
                        Сброс
                    </a>
                </div>
            </form>
            <div class="card">
                <div class="card-body pt-3">
                    <div style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Организация</th>
                                <th scope="col">ИНН</th>
                                <th scope="col">ЖК</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Адрес</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in data %}
                                <tr onclick="window.location.href='/uk/{{ i.id }}'; return false">
                                    <td>
                                        {{ i.id }}
                                    </td>
                                    <td>
                                        {{ datetime.fromtimestamp(i.registered).strftime('%d.%m.%y') }}
                                    </td>

                                    <td>{{ i.org_name }}</td>
                                    <td>{{ i.inn }}</td>
                                    <td>
                                        {% if JK.query.filter_by(id=i.jk, moderated=1).first() %}
                                            {{ JK.query.filter_by(id=i.jk).first().name }}
                                        {% else %}
                                            На модерации
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ str(i.name + ' ' + i.surname + ' ' + i.second_name) }}
                                    </td>
                                    <td>
                                        {{ i.address }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
