{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" charset="utf-8">
        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                return reader.result;
                //console.log(reader.result);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }

        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
            socket.on('connect', function () {
                socket.emit('joined', {});
            });
            socket.on('message', function (data) {
                console.log(data);
                if (data.author === {{current_user.id}}) {
                    if (data.image){
                    var message = '<div class="d-flex flex-row justify-content-end" id="msg' + data.id + '" >' +
                        '<a  class="btn btn-info rounded-circle" onclick=delete_msg(' + data.id + ')\n' +
                        'style="margin-left: 5px;margin-right: 5px;max-height: 30px;width: 30px;padding: 0;margin-top: auto;margin-bottom: auto;"><i style="font-size: 20px;" class="bi bi-trash"></i></a><div>' +
                        '<div>' +
                        '<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">' +
                        '<img  src="' + data.image + '" style="width: 50%; height: 100%;"><br>' + data.msg + '</p></div>' +
                        '</div></div>';} else {
                        var message = '<div class="d-flex flex-row justify-content-end" id="msg' + data.id + '" >' +
                            '<a  class="btn btn-info rounded-circle" onclick=delete_msg(' + data.id + ')\n' +
                            'style="margin-left: 5px;margin-right: 5px;max-height: 30px;width: 30px;padding: 0;margin-top: auto;margin-bottom: auto;"><i style="font-size: 20px;" class="bi bi-trash"></i></a><div>' +
                            '<div>' +
                            '<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">' +
                            '' + data.msg + '</p></div>' +
                            '</div></div>';
                    }
                } else {
                    if (data.image){
                    var message = '<div class="d-flex flex-row justify-content-start" id="msg' + data.id + '" onclick=delete_msg(' + data.id + ')>' +
                        '<img  class="rounded-circle" src="' + data.avatar + '" alt="avatar 1" style="width: 45px; height: 100%;">' +
                        '<div style="max-width: 70%;">' +
                        '<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">' +
                        '<img  src="' + data.image + '" style="width: 50%; height: 100%;"><br>' + data.msg + '</p></div>' +
                        '<a  class="btn btn-info rounded-circle" onclick=delete_msg(' + data.id + ')\n' +
                        'style="margin-left: 5px;margin-right: 5px;max-height: 30px;width: 30px;padding: 0;margin-top: auto;margin-bottom: auto;"><i style="font-size: 20px;" class="bi bi-trash"></i></a>' +
                        '</div></div>';} else {
                        var message = '<div class="d-flex flex-row justify-content-start" id="msg' + data.id + '" onclick=delete_msg(' + data.id + ')>' +
                            '<img  class="rounded-circle" src="' + data.avatar + '" alt="avatar 1" style="width: 45px; height: 100%;">' +
                            '<div style="max-width: 70%;">' +
                            '<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">' +
                            '' + data.msg + '</p></div>' +
                            '<a  class="btn btn-info rounded-circle" onclick=delete_msg(' + data.id + ')\n' +
                            'style="margin-left: 5px;margin-right: 5px;max-height: 30px;width: 30px;padding: 0;margin-top: auto;margin-bottom: auto;"><i style="font-size: 20px;" class="bi bi-trash"></i></a>' +
                            '</div></div>';
                    }
                }
                console.log(message);
                $('#chat').append(message);
                //.val($('#chat').val() + message + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#send').click(function (e) {
                text = $('#text').val();
                var imageInput = document.getElementById('image');
                var file = imageInput.files[0];
                var reader = new FileReader();
                if (file) {
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        $('#text').val('');
                        $('#file').removeClass("bi-file-earmark-check-fill").addClass("bi-paperclip");
                        $("#file").val(null);
                        socket.emit('text', {
                            msg: text,
                            author: {{current_user.id}},
                            chat: {{ chat_id }},
                            image: reader.result
                        });
                        console.log(reader.result);
                    };
                    reader.onerror = function (error) {
                        $('#text').val('');
                        $('#file').removeClass("bi-file-earmark-check-fill").addClass("bi-paperclip");
                        socket.emit('text', {
                            msg: text,
                            author: {{current_user.id}},
                            chat: {{ chat_id }},
                            image: ''
                        });
                    };
                } else {
                    $('#text').val('');
                    $('#file').removeClass("bi-file-earmark-check-fill").addClass("bi-paperclip");
                    $("#file").val(null);
                    socket.emit('text', {
                        msg: text,
                        author: {{current_user.id}},
                        chat: {{ chat_id }},
                        image: ''
                    });
                }
            });
            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    var imageInput = document.getElementById('image');
                    var file = imageInput.files[0];
                    var reader = new FileReader();
                    if (file) {
                        reader.readAsDataURL(file);
                        reader.onload = function () {
                            $('#text').val('');
                            $('#file').removeClass("bi-file-earmark-check-fill").addClass("bi-paperclip");
                            $("#file").val(null);
                            socket.emit('text', {
                                msg: text,
                                author: {{current_user.id}},
                                chat: {{ chat_id }},
                                image: reader.result
                            });
                            console.log(reader.result);
                        };
                        reader.onerror = function (error) {
                            $('#text').val('');
                            $('#file').removeClass("bi-file-earmark-check-fill").addClass("bi-paperclip");
                            $("#file").val(null);
                            socket.emit('text', {
                                msg: text,
                                author: {{current_user.id}},
                                chat: {{ chat_id }},
                                image: ''
                            });
                        };
                    } else {
                        $('#text').val('');
                        $('#file').removeClass("bi-file-earmark-check-fill").addClass("bi-paperclip");
                        $("#file").val(null);
                        socket.emit('text', {
                            msg: text,
                            author: {{current_user.id}},
                            chat: {{ chat_id }},
                            image: ''
                        });
                    }
                }
            });
        });

        function leave_room() {
            socket.emit('left', {}, function () {
                socket.disconnect();
            });
        }
    </script>
    <style>
        #image {
            display: none;
        }

        #send {
            display: none;
        }

        body {
            margin-top: 20px;
            font-size: 16px !important;
        }

        .chat-online {
            color: #34ce57
        }

        .chat-offline {
            color: #e4606d
        }

        .chat-messages {
            display: flex;
            flex-direction: column;
            max-height: 800px;
            overflow-y: scroll
        }

        .chat-message-left,
        .chat-message-right {
            display: flex;
            flex-shrink: 0
        }

        .chat-message-left {
            margin-right: auto
        }

        .chat-message-right {
            flex-direction: row-reverse;
            margin-left: auto
        }

        .py-3 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .px-4 {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }

        .flex-grow-0 {
            flex-grow: 0 !important;
        }

        .border-top {
            border-top: 1px solid #dee2e6 !important;
        }

        .position-relative {
            border-radius: 15px;
            background: linear-gradient(101.4deg, rgba(215, 196, 255, 0.9) 4.99%, rgba(172, 195, 255, 0.9) 41.07%, rgba(150, 186, 255, 0.9) 71.28%, rgba(155, 181, 255, 0.9) 100%);
        }

        .card-body {
            padding: 0 !important;
        }

        .bi {
            font-size: 25px;
        }

        #chat {
            overflow: auto;
        }

        .pt-1 {
            padding-top: 0.25rem !important;
            text-align: left !important;
        }

        .short {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

    <div class="container p-0">

        <div class="row">
            <div class="col-md-12">

                <div class="card" id="chat3" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-between align-items-center p-3 border-bottom-0"
                         style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <a href="{{ url_for('main.jk_chats') }}"><i class="bi bi-arrow-left-square"></i></a>
                        <p class="mb-0 fw-bold">
                            {% if jk.photo %}
                                <img src="{{ url_for('static', filename='jk/'+jk.photo) }}"
                                     alt="avatar 1" style="width: 45px; height: 100%;"
                                     class="rounded-circle">
                            {% else %}
                                <img src="{{ url_for('static', filename='jk/default_org.png') }}"
                                     alt="avatar 1" style="width: 45px; height: 100%;"
                                     class="rounded-circle">
                            {% endif %}
                            <a href="/jk/all?jk={{ jk.id }}">
                                {{ jk.name }}</a>
                        </p>
                        <a href="{{ url_for('main.members', id=chat_id) }}"><i class="bi bi-people"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0">

                            <div class="col-md-12 col-lg-12 col-xl-12 position-relative">

                                <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true"
                                     style="position: relative; height: 400px" id="chat">
                                    {% for msg in msgs %}
                                        {% if msg.author.id != current_user.id %}
                                            <div class="d-flex flex-row justify-content-start" id="msg{{ msg.id }}">
                                                <img src="{{ url_for('static', filename='profile_photos/'+msg.profile_photo) }}"
                                                     alt="avatar 1" style="width: 45px; height: 100%;"
                                                     class="rounded-circle">
                                                <div style="max-width: 70%">

                                                    <p class="small p-2 ms-3 mb-1 rounded-3"
                                                       style="background-color: #f5f6f7;">{% if msg.image %}<img  src="{{ url_for('static', filename='/messages/'+msg.image) }}" style="width: 50%; height: 100%;"><br>{% endif %}{{ msg.text }}</p>
                                                </div>
                                                <a onclick="delete_msg({{ msg.id }})" class="rounded-circle btn btn-info"
                                                   style="margin-left: 5px;margin-right: 5px;max-height: 30px;width: 30px;padding: 0;margin-top: auto;margin-bottom: auto;"><i
                                                        style="
    font-size: 20px;
" class="bi bi-trash"></i></a>
                                            </div>

                                        {% else %}
                                            <div class="d-flex flex-row justify-content-end" id="msg{{ msg.id }}">
                                                <a class="rounded-circle btn btn-info"  onclick=delete_msg({{ msg.id }})
                                                   style="margin-left: 5px;margin-right: 5px;max-height: 30px;width: 30px;padding: 0;margin-top: auto;margin-bottom: auto;"><i
                                                        style="font-size: 20px;" class="bi bi-trash"></i></a>
                                                <div>
                                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                                        {% if msg.image %}<img  src="{{ url_for('static', filename='/messages/'+msg.image) }}" style="width: 50%; height: 100%;"><br>{% endif %}{{ msg.text }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                                    <input type="file" name="image" id="image">
                                    <label for="image" class="ms-1 text-muted" href="">
                                        <i id="file" style="color: black" class="bi bi-paperclip"></i></label>
                                    <input type="text" class="form-control form-control-lg" id="text"
                                           placeholder="Введите сообщение">
                                    <input type="submit" name="image" id="send">
                                    <label for="send" class="ms-1 text-muted" href="">
                                        <i style="color: black" class="bi bi-send"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            ul = document.getElementById("chats");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("fw-bold")[0];

                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.setProperty('display', 'block', 'important');
                } else {
                    li[i].style.setProperty('display', 'none', 'important');
                }
            }
        }
        function delete_msg(id) {
            $.get({{url_for('main.delete_msg', id='')}} + id, (data, status) => {
                console.log(status);
                $("#msg"+id).remove();
            });
        }
        $("#image").change(function() {
            $('#file').removeClass("bi-paperclip").addClass("bi-file-earmark-check-fill");
        });
    </script>



{% endblock %}
